body {
  margin: 0;
  min-height: 100vh;
  background-image: url("./images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(0, 100%, 74%);
  display: flex;
  font-family: "Poppins", sans-serif;
}
.container {
  min-height: 100vh;
  margin: auto;
  margin-inline: 6%;
  margin-block: 20%;
}
.block-1 {
  margin-block-end: 15%;
}
.heading,
.desc {
  text-align: center;
  color: white;
}
.heading {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}
.desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.block-2 > .try-it-free {
  width: 100%;
  text-align: center;
  padding-block: 6%;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: hsl(248, 32%, 49%);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
  box-shadow: 0 6px 6px rgba(75, 73, 73, 0.5);
}
.form-area {
  margin-block-start: 6%;
  padding-block: 5%;
  padding-inline: 6%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 6px rgba(100, 99, 99, 0.5);
}
form {
  padding-block: 4%;
}
.input-field {
  box-sizing: border-box;
  width: 100%;
  padding-block: 5%;
  padding-inline-start: 5%;
  margin-block-end: 5%;
  border: 1px solid hsl(240, 1%, 84%);
  border-radius: 6px;
}
input[placeholder] {
  color: hsl(240, 1%, 49%);
  font-size: 15px;
  font-weight: 500;
}
.first-name:hover {
  border-bottom: 1px solid hsl(240, 1%, 49%);
}
.password:hover {
  border-bottom: 1px solid hsl(240, 1%, 49%);
}
.last-name:hover {
  border-top: 1px solid hsl(240, 1%, 49%);
}
.email:hover {
  border-top: 1px solid hsl(240, 1%, 49%);
}
.claim-free-trial {
  width: 100%;
  padding-block: 5%;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  background-color: hsl(154, 59%, 51%);
  border: none;
  border-radius: 8px;
  word-spacing: 0.5px;
  box-shadow: 0 4px 4px rgba(61, 61, 61, 0.5);
}
.note {
  text-align: center;
  color: hsl(240, 1%, 49%);
  font-size: 16px;
  font-weight: 400;
}
.note b {
  color: hsl(0, 100%, 74%);
}
@media only screen and (min-width: 1240px) {
  body {
    background-image: url("./images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-block: 5%;
  }
  .block-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline-end: 4%;
    margin-block-end: 0;
    align-self: stretch;
  }
  .heading,
  .desc {
    text-align: left;
  }
  .block-2 {
    padding-block-end: 0;
  }
}
